@model IEnumerable<MvcApplication8.Models.item>

@{
    ViewBag.Title = "Index";
}

<!--<link href="~Content/Xml2Model_index.css" type="text/css" rel="stylesheet" />-->
<script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
<script src="~/Scripts/upvote.js" type="text/javascript"></script>

<h2>Index</h2>


<table>
    <tr>
        <th>
        </th>
		<th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
       
       
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {        <!--可否逆序display?-->  *@
@for (var i = Model.Count()-1; i >= 0; i--) { 
    var item =Model.ElementAt(i);
    
    <tr>
        <td>
            <!--<input type="button" onclick="save()" value="upvote" />-->       <!--用JavaScript的方法-->
            <!--@Html.ActionLink("upvote", "upvote", new { id = item.Id })       MVC自带法得跳转到upvote页面再立刻跳转回来，不好用-->            
            
            <!--<a href="#" id="upvote-ajax">upvote</a>-->                      <!--用id调用jQuery是不是不能传参数？-->
           
            <!--<a href="javascript:;" onclick="ClickUpvote(@item.Id)">         <!--需要修改母版<a>的样式-->
            <!--    <img id="imgup" src="~/Images/thumb.png" style="width:18px;height:17px" /> </a>-->

            <img id=@item.imgId src="~/Images/thumb.png" style="width:18px;height:17px" 
                 onclick="ClickUpvote(@item.Id)" />

        </td>
		
		<td>
            <span id=@item.Id>@Html.DisplayFor(modelItem => item.totalLike)</span>      <!--直接让itemId作为id-->
        </td>      

        <td>
          <a href="@Html.DisplayFor(modelItem => item.guid)" target="_blank">@Html.DisplayFor(modelItem => item.title)</a>  
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
    </tr>
}

</table>
